.Con {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
}

.inCartBtnCon {
  width: 100%;
  position: relative;
  display: flex;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: white;
  text-decoration: none;
}

.inCartBtnText {
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
   color: var(--primary);
  
}

.inCartBtnIcon {
  position: absolute;
  left: 20px;
  padding-bottom: 1px;
}

.addToCartBtnCon {
  width: 100%;
  position: relative;
  display: flex;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary);
  color: white;
  background-color: var(--primary);
}

@media (min-width: 1536px) {
  .addToCartBtnCon {
    height: 52px;
  }
}

.addToCartBtnIcon {
  position: absolute;
  left: 16px;
}

.addToCartBtnText {
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
}
