
/** orderbar */

.orderbarCon {
  width: 100%;
  background-color: #ffffff;
}

@media (max-width: 1024px) {
  .orderbarCon {
    position: sticky;
    top: 0;
    z-index: 5;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.orderbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #e9ecf2;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .orderbar {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1024px) {
  .orderbar {
    margin-bottom: 24px;
    padding-right: 14px;
    padding-left: 24px;
  }
}

/** pc */

.pcOrders {
  display: none;
  column-gap: 32px;
}

@media (min-width: 480px) {
  .pcOrders {
    display: flex;
  }
}

.orderLogoCon {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #333333;
}

.orderTagsCon {
  display: flex;
  column-gap: 24px;
  font-weight: 300;
  color: #212121;
}

.orderTag {
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
}

.TPCon {
  display: none;
  column-gap: 4px;
}

@media (min-width: 480px) {
  .TPCon {
    display: flex;
  }
}

/** mobile orderbar */

.mobileOrders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 480px) {
  .mobileOrders {
    display: none;
  }
}

