.productsCon {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .productsCon {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/** breadCrump */

.breadCrumpCon {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 12px;
  color: #81858b;
  padding-right: 16px;
}

@media (max-width: 1024px) {
    .breadCrumpCon{
      padding-right: 40px;
    }
}

.breadCrumpCon > a {
  flex-shrink: 0;
  text-decoration: none;
  color: #81858b;
}

.productLayoutCon {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1024px) {
  .productLayoutCon {
    margin-top: 20px;
  }
}
