:root {
  /** media queries **/
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-xss: 25rem; /* 400px */
  --breakpoint-s: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-mlg: 56rem; /* 896px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 106rem; /* 1696px */

  --primary: #0b7fc5;
  --secondary: #fe5905;

  --border: #e5e5e5;

  --headerBg: #ffffff;
  --mainBg: #ffffff;
  --footerBG: #ffffff;
}

.productlist-title {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productlist-mobiletitle {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** header related */

.header {
  background-color: var(--headerBg);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  border-bottom: 1px solid #d7dee0;
}

.pcBanner {
  display: none;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .pcBanner {
    display: block;
  }
}

.mobileBanner {
  display: block;
  height: 42px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 480px) {
  .mobileBanner {
    height: 56px;
  }
}

@media (min-width: 640px) {
  .mobileBanner {
    height: 64px;
  }
}

@media (min-width: 768px) {
  .mobileBanner {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .mobileBanner {
    display: none;
  }
}

.headerMain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}

@media (min-width: 1024px) {
  .headerMain {
    padding-bottom: 0;
  }
}

.pcFixedHeader {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media (max-width: 480px) {
  .pcFixedHeader {
    width: 100%;
    margin: 0;
  }
}

/** cart btn */

.cartBtn {
  color: #171717;
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
}

@media (min-width: 640px) {
  .cartBtn {
    width: 40px;
    height: 40px;
  }
}

.cartBadge {
  position: absolute;
  right: -4px;
  bottom: -3px;
  z-index: 5;
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #fd8712;
  background-color: #fd8712;
  padding: 3px;
  padding-top: 4px;
  color: #ffffff;
  font-size: 12px;
}

@media (min-width: 640px) {
  .cartBadge {
    right: -3px;
    bottom: -3px;
    width: 20px;
    height: 20px;
  }
}

.pcNavbar {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90%;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 12px;
  padding-right: 10px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .pcNavbar {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .pcNavbar {
    justify-content: space-between;
  }
}

.pcNavbar a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}
@media (max-width: 480px) {
  .pcNavbar a {
    font-size: 14px;
  }
}

/** landing page  */

.mainBg {
  background-color: var(--mainBg);
}
.footerBG {
  background-color: var(--footerBG);
}

.h-400 {
  height: 400px;
}

.h-screen {
  min-height: 100vh;
}

/* * footer */

.bg-primaryGradient {
  background-image: linear-gradient(90deg, #0079b1, #263c70);
}

.footerCon {
  width: 100%;
  padding: 16px 16px 16px 16px;
  padding-top: 32px; /* pt-8 */
}

@media (min-width: 1024px) {
  /* lg */
  .footerCon {
    padding-top: 60px; /* pt-15 */
  }
}

/** mobile footer */

.mobileFooterCon {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 16px;
  padding-left: 8px; /* px-2 */
  padding-right: 8px;
  padding-top: 32px; /* pt-8 */
}

@media (min-width: 1024px) {
  /* lg:hidden */
  .mobileFooterCon {
    display: none;
  }
}

.mobileFooterHeader {
  margin-left: 16px; /* mx-4 */
  margin-right: 16px;
  margin-bottom: 16px; /* mb-4 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fcfcfc; /* border-b */
  padding-bottom: 16px; /* pb-4 */
}

.mobileFooterHeader button {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px; /* gap-x-1 */
  border-radius: 8px; /* rounded-lg */
  background-color: #fcfeff;
  padding-top: 8px; /* py-2 */
  padding-bottom: 8px;
  padding-left: 8px; /* pl-2 */
  padding-right: 16px; /* pr-4 */
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  /* md */
  .mobileFooterHeader button {
    gap: 6px; /* md:gap-x-1.5 */
    padding-left: 10px; /* md:pl-2.5 */
  }
}

.mobileFooterHeader button span {
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .mobileFooterHeader button span {
    font-size: 14px;
  }
}

.mobileFooterHeader .logoText {
  color: white;
  font-size: 24px;
}

@media (min-width: 640px) {
  /* sm:text-[28px] */
  .mobileFooterHeader .logoText {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  /* md:text-[32px] */
  .mobileFooterHeader .logoText {
    font-size: 32px;
  }
}

/** pc footer **/

.pcFooterCon {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  padding-left: 144px; /* px-36 */
  padding-right: 144px; /* px-36 */
  padding-top: 72px; /* pt-18 */
}

@media (max-width: 1024px) {
  /* lg */
  .pcFooterCon {
    display: none;
  }
}

.pcFooterHeader {
  margin-bottom: 48px; /* mb-12 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fcfcfc;
  padding-bottom: 48px; /* pb-12 */
}

.pcScrollTopBtn {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 16px; /* gap-x-4 */
  border-radius: 12px; /* rounded-lg */
  background-color: #fcfeff;
  padding-top: 16px; /* py-4 */
  padding-bottom: 16px;
  padding-right: 28px; /* pr-7 */
  padding-left: 20px; /* pl-5 */
  border: none;
  outline: none;
}

.pcScrollTopBtn span:first-child {
  font-size: 15px;
  font-weight: 500; /* font-medium */
}

.pcFooterBottom {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 48px;
}

.pcFooterBottomContent {
  display: flex;
  justify-content: center;
  gap: 12px; 
  font-size: 14px;
  color: #ffffff;
}
